{% extends 'analyzer/base.html' %}
{% load static %}

{% block content %}
<style>
    /* حذف فاصله پیش‌فرض بالای container */
    .container.my-5 {
        margin-top: 0 !important;
        padding-top: 0 !important;
    }

    /* سکشن مستطیل‌رنگی تمام‌عرض */
    .full-width-container {
        width: 100vw;
        position: relative;
        left: 50%;
        right: 50%;
        margin-left: -50vw;
        margin-right: -50vw;
        padding: 0;
        margin-top: 0;
    }

    .curve-placeholder {
        background-color: #33ACB9;
        height: 50vh;
        width: 100%;
        margin: 0;
        padding: 0;
        position: relative;
        overflow: hidden;
    }

    .curve-placeholder svg {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: auto;
    }

    .button-container {
        text-align: center;
        padding: 50px 0;
    }
</style>

<!-- بخش رنگی -->
<div class="full-width-container">
    <div class="curve-placeholder">
        <!-- موج سفید -->
        <svg width="100%" height="auto" viewBox="0 0 389 201" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M372 201C381.389 201 389 193.389 389 184V17.9455C389 2.04654 369.065 -5.151 358.756 6.953C282.579 96.3963 227.956 149.805 133.562 201H372Z" fill="white"/>
            <path d="M-10.5045 176.18C-19.7466 170.494 -32 176.792 -32 187.644C-32 195.02 -26.0201 201 -18.6435 201H46.839C21.7271 193.294 6.08773 186.389 -10.5045 176.18Z" fill="white"/>
        </svg>

        <!-- موج آبی کم‌رنگ -->
        <svg width="100%" height="auto" viewBox="0 0 393 288" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M458.128 39.9431C460.586 36.9211 462 33.0473 462 29.1518V17.045C462 0.912045 441.47 -6.08068 431.338 6.47372C239.095 244.676 137.604 308.69 -3 240.643C141.716 328.678 237.558 311.1 458.128 39.9431Z" fill="#DEE3F6"/>
        </svg>
    </div>
</div>

<!-- دکمه در پایین صفحه -->
<div class="container">
    <div class="button-container">
        <a href="{% url 'dashboard' %}" class="btn btn-primary btn-lg">شروع تحلیل آزمون</a>
    </div>
</div>
{% endblock %}
